---
BasedOnStyle: Google
ColumnLimit: 100

AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
...
