root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
max_line_length = 80
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.cs]
csharp_new_line_before_open_brace = none
