if has nix; then
  use flake
elif has pixi; then
  eval "$(pixi shell-hook)"
fi

if has pre-commit && [[ ! -f "$(pwd)/.git/hooks/pre-commit" ]]; then
  pre-commit install
fi

export DOTNET_CLI_TELEMETRY_OPTOUT=1

