if has nix; then
  use flake
elif has pixi; then
  eval "$(pixi shell-hook)"
fi

pre_commit="$(git rev-parse --git-path hooks/pre-commit 2>/dev/null)"
if [[ ! -f "$pre_commit" ]] || ! grep -Eiq "prek|pre-commit" "$pre_commit" >/dev/null; then
  if has prek; then
    prek install
  elif has pre-commit; then
    pre-commit install
  fi
fi

export DOTNET_CLI_TELEMETRY_OPTOUT=1

