# Godot Generated
*.uid

# Unity Generated
*.asmdef
*.meta

# LspSetup Generated
[Oo]bj/
[Bb]in/
[Bb]uild/
*.csproj
*.sln
*.slnx

# IDE Generated
.idea/
.vscode/
.vs/
.direnv/
.pixi/*
!.pixi/config.toml

